/* header */



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf2e9;
    padding: 0 4.8rem;
    height: 9.6rem;
}

.logo-img {
    height: 2.2rem;
}

/* nav */

.main-nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.8rem;
    font-size: 1.8rem;
    list-style: none;
    font-weight: 500;
}

.main-nav-link:link,
.main-nav-link:visited {
    cursor: pointer;
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: #cf711f;
}

.main-nav-link.link-cta:link,
.main-nav-link.link-cta:visited {
    background-color: #e67e22;
    color: #fff;
    display: inline-block;
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    transition: background-color 0.3s;
}

.main-nav-link.link-cta:hover,
.main-nav-link.link-cta:active {
    background-color: #cf711f;
}

/*Mobile navigation*/

.btn-mobile-nav{
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}

.icon-mobile-nav{
    height: 4.8rem;
    width: 4.8rem;
    color: #333;
}

.btn-mobile-nav [name="close-outline"]{
    display: none;
}

/*sticky navigation*/

.sticky .header{
    position: fixed;
    top: 0;
    bottom: 0;
    height: 8rem;   
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 1.2rem 3.2rem rgba(0,0,0,0.03);
}

.sticky .section-hero{
    margin-top: 9.6rem;
}

/* section hero */

.section-hero {
    background-color: #fdf2e9;
    padding: 4.8rem 0 9.6rem 0;
}

.hero-container {
    max-width: 130rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    gap: 9.6rem;
    padding: 0 3.2rem;
}

.hero-img {
    width: 100%;
}

.hero-text {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 6rem;
    font-weight: 400;
}

.delivered-meals {
    display: flex;
    align-items: center;
    margin-top: 8rem;
    gap: 1.6rem;
}

.delivered-imgs{
    display: flex;
}

.delivered-text {
    font-size: 1.8rem;
    font-weight: 600;
}

.delivered-img {
    border-radius: 50%;
    width: 4.8rem;
    height: 4.8rem;
    margin-right: -1.6rem;
    border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
    margin-right: 0;
}

.tint-span {
    color: #cf711f;
    font-weight: 700;
}

/* section featured in */
.section-featured {
    padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    text-align: center;
    margin-bottom: 2.4rem;
    /* the same color of the logos images*/
    color: #888;
}

.logos {
    display: flex;
    justify-content: space-around;
}

.logos img {
    height: 3.2rem;
    /*to make it complete black*/
    filter: brightness(0);
    /*to make it gray*/
    opacity: 0.5;
}

/* section how it works*/

.section-how {
    padding: 9.6rem 0;
}

.app-img {
    width: 35%
}

.step-number {
    font-size: 8.6rem;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 1.2rem;
}

.step-img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.step-img-box::before {
    content: "";
    display: block;
    background-color: #fdf2e9;
    width: 60%;
    padding-bottom: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    position: absolute;
    z-index: -2;
}

.step-img-box::after {
    content: "";
    display: block;
    background-color: #fae5d3;
    width: 45%;
    padding-top: 45%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.step-description {
    font-size: 1.8rem;
    line-height: 1.6;
}


/*section meals*/
.section-meals {
    padding: 9.6rem 0;
}

.meal-img {
    width: 100%;
}

.meal-title {
    font-size: 2.4rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 3.2rem;
}

.meal-attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.meal-attribute {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.meal {
    /*ערך ראשון אחראי על אפקט הצל - כלומר כמה ההטלה של האלמנט על הדף*/
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.4s;
}

.meal:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: #e67e22;
}

.meal-tags {
    margin-bottom: 1.2rem;
    display: flex;
    gap: 0.4rem;
}

.tag {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    /*some big value*/
    border-radius: 1000px;
    color: #333
}

.tag--vegetarian {
    background-color: #51cf66;
}

.tag--vegan {
    background-color: #a9e34b;
}

.tag--pelao {
    background-color: #ffd43b;
}

.meal-content {
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}


.all-recipes {
    font-size: 1.8rem;
    color: #e67e22;
    text-align: center;
}

.link:link,
.link:visited {
    text-decoration: none;
    color: #e67e22;
    border-bottom: 1px solid currentColor;
    transition: all 0.3s;
}

.link:hover,
.link:active {
    color: #cf711f;
    border-bottom: 1px solid transparent;
}

/*Testimonnails Section*/

.section-testimonials {
    display: grid;
    grid-template-columns: 55fr 45fr;
    background-color: #fdf2e9;
}

.testimonials-container {
    padding: 9.6rem;
}

.testimonails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5.6rem;
    column-gap: 8rem;
}

.testimonial-img {
    width: 6.4rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
}

.testimonial-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
    color: #333;
}

.testimonial-name {
    font-size: 1.8rem;
    color: #6F6F6F;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
    align-self: center;
}

.gallery-item {
    overflow: hidden;
}

.gallery-item img {
    display: block;
    width: 100%;
    transition: all 0.4s;
}

.gallery-item img:hover {
    transform: scale(1.1);
}


/*Pricing Section*/

.section-pricing {
    padding: 9.6rem 0;
}

.pricing-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.8rem;
}

.pricing-plan--starter {
    justify-self: end;
    box-shadow: inset 0 0 0 2px #fdf2e9;
}

.pricing-plan--complete {
    background-color: #fdf2e9;
    position: relative;
    overflow: hidden;
}

.pricing-plan--complete::after {
    content: "Best value";
    font-size: 1.4rem;
    background-color: #ffd43b;
    font-weight: 700;
    color: #333;
    position: absolute;
    top: 6%;
    right: -18%;
    padding: 0.8rem 8rem;
    text-transform: uppercase;
    transform: rotate(45deg);
}

.pricing-btn-container {
    margin-top: 4.8rem;
    text-align: center;
}


.pricing-plan {
    border-radius: 11px;
    padding: 4.8rem;
    width: 75%;

    /* added to prevent mismatch busttons sizes when screen is about 700px*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.plan-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
    color: #cf711f;
    text-transform: uppercase;
}

.price {
    font-size: 6.4rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1.2rem;
}

.price span {
    font-size: 3.2rem;
    font-weight: 600;
    color: #333;
}

.price-text {
    font-size: 1.4rem;
}

.plan-text {
    text-align: center;
    margin-bottom: 3.6rem;
}

.plan-details {
    text-align: center;
    font-size: 1.6rem;
}



.feautre-icon {
    background-color: #fdf2e9;
    padding: 1.6rem;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    margin-bottom: 1.6rem;
    color: #e67e22;
}

.feature-title {
    font-size: 1.8rem;
    line-height: 1.8;
    font-weight: 700;
    margin-bottom: 1.4rem;
}

.feature-text {
    font-size: 1.4rem;
    line-height: 1.4;
}


/*Section call to action*/

.section-cta {
    padding: 3.2rem 0 12.8rem;
}

.cta {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #e67e22;
    background-image: linear-gradient(to right bottom,
    #eb984e,
    #e67e22);
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);

    border-radius: 11px;
    overflow: hidden;

}

.cta-img-box {
    background-image:
    linear-gradient(to right bottom,rgba(235, 151, 78, 0.35),rgba(235, 151, 78, 0.35)),
    url('../images/eating.jpg');
    background-size: cover;
    background-position: center;
}

.cta-text-box{
    padding: 3.2rem 5.6rem 5.6rem 5.6rem;
    color: #45260a;
}

.cta-text-box .heading-secondary{
    color: inherit;
    margin-bottom: 3.2rem;
}

.cta-text{
    font-size: 1.8rem;
    line-height: 1.8;
    color: inherit;
    margin-bottom: 4.8rem;
}

.cta-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2.4rem;
    column-gap: 3.2rem;
}

.cta-form label{
    display: block;
    margin-bottom: 1.2rem;
    font-size: 1.6rem;
    color: inherit;
    font-weight: 500;
}

.cta-form input,
.cta-form select{
    padding: 1.2rem;
    font-size: 1.8rem;
    border-radius: 9px;
    background-color: #fdf2e9;
    font-family: inherit;
    width: 100%;
    border : none;
}

.cta-form::placeholder{
    color: #aaa;
}

.btn--form{
    align-self: end;
    padding: 1.2rem;
    background-color: #45260a;
    color: #fdf2e9;
  }

.btn--form:hover{
    background-color: #fff;
    color: #555;
}

.cta *:focus{
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);;
}


/*footer*/

.footer{
    border-top: 1px solid #eee;
    padding: 12.8rem 0;
}

.grid--footer{
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
    gap: 5.6rem;
}

.logo-col{
    display: flex;
    flex-direction: column;
}

.omnifood-logo-footer{
    margin-bottom:4rem ;
    height: 2.4rem;
}

.social-logos{
    display: flex;
    gap: 3.6rem;
}

.logo-icon{
    color: #767676;
    height: 2.4rem;
    width: 2.4rem;
    cursor: pointer;
    transition: all 0.3s;
}

.logo-icon:hover{
    color: #333;
}

.footer-heading{
    color: #333;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.copyrights-text{
    margin-top: auto;
    font-size: 1.4rem;
    line-height: 1.6;
}

.contact-link{
    display: block;
    text-decoration: none;
    color: #767676;
}

.address-info{
    margin-bottom: 2.4rem;
    color: #333;
}

.contact-col address{
    font-style: normal;
    font-size: 1.4rem;
    line-height: 1.6;
}

.footer-list{
    list-style: none;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    color: #767676;
}

